{% extends 'base.html' %}
{% set title = 'Patients Management' %}
{% block content %}
<div class="panel">
  <h2>Add Patient</h2>
  <form method="POST" class="grid-form">
    <input name="name" placeholder="Patient Name" required>
    <input name="age" type="number" placeholder="Age">
    <select name="gender"><option>Male</option><option>Female</option><option>Other</option></select>
    <input name="phone" placeholder="Phone">
    <input name="disease" placeholder="Disease / Issue">
    <select name="doctor_id">
      {% for d in doctors %}<option value="{{ d.id }}">{{ d.name }} - {{ d.specialization }}</option>{% endfor %}
    </select>
    <button>Add Patient</button>
  </form>
</div>
<div class="panel">
  <h2>Patients List</h2>
  <form method="GET" class="search-box">
  <input type="text" name="search" placeholder="Search patient by name, phone or disease..." value="{{ search }}">
  <button type="submit">Search</button>
  <a class="btn-secondary" href="{{ url_for('patients') }}">Reset</a>
</form>
  <table>
    <tr><th>Name</th><th>Age</th><th>Gender</th><th>Phone</th><th>Disease</th><th>Doctor</th><th>Action</th></tr>
    {% for p in patients %}
    
    <tr><td>{{ p.name }}</td><td>{{ p.age }}</td><td>{{ p.gender }}</td><td>{{ p.phone }}</td><td>{{ p.disease }}</td><td>{{ p.doctor_name }}</td>
      <td><a class="btn-small" href="{{ url_for('edit_patient', id=p.id) }}">Edit</a> | 
        <a class="delete" href="{{ url_for('delete_item', table='patients', item_id=p.id) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
